<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
  <header> <h1>Travel App!</h1></header>
  <div class='box'>
    <section id='destination' class = 'form'>
      <label for="city">Destination</label>
      <input type="text" id="city" placeholder="Where are you going?">
    </section>
    <section id="departing" class = 'form'>
      <label class="label">Departing</label>
      <input class="myInput" type="date" id="date" placeholder="Enter departing date"></input>
    </section>
    <button id="generate" type="submit"> Search </button>
  </div>
  <section id="travelInfo">
    <section id="info">
      <p id="day"></p>
      <p id='weather'></p>
      <p id="temp"></p>
      <p id="uv"></p>
    </section>
  </section>
  <section id='photo'></section>
  </div>
  </body>
</html>
