body{
    background: #DAF0EE;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: -webkit-center;
    margin: 0;
}

header{
    background-color: #212738;
    height: 50px;
    margin-bottom: 15px;
    color: #05A8AA;
    text-align: left;
    padding: 5px;
}


.box{
    display: grid;
    border: 2px solid #7A9E9F;
    height: 50%;
    width: 90%;
    padding: 24px 16px 24px 16px;
    justify-content: center;
    background-color: #ABC8C0;
    grid-template-columns: 50%;
    grid-template-rows: 2fr;
    border-radius: 40px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 2.0vh;
    text-align: right;
    padding: 15px;
    width: 15%;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
}

input{
    display:block;
    height: 50px;
    width: 100%;
    background:#DAF0EE;
    border:2px solid #7A9E9F;
    color: #33658A;
    font-size: 1.8vh;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

button{
    width: 50%;
    height: 50px;
    background: #212738;
    color: white;
    font-size: 1.8vh;
    font-family: 'Oswald', sans-serif;
    border: none;
}

h1{
    font-size: 2.4vh;
    margin: 0,0, 5px, 0
}

textarea{
    background:#DAF0EE;
    color: #33658A;
    font-size: 1.8vh;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #33658A; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #33658A; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #33658A; 
    font-family: 'Oswald', sans-serif;

} 
